@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul,li,ol{list-style: none;}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
body{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 14px;
    color: #333;
}
img{vertical-align: middle;}
table{border-collapse: collapse;}
.clear_fix::before, .clear_fix::after{
    content: " ";
    display: block;
    clear:both;
}

input, textarea{
    /* width: 100%; */
    /* margin: 0; */
    /* padding: 0; */
    border: 0;
    /* border-bottom: 1px solid #777; */
    color: #444;
}